{
  "env": {
    "browser": true,
    "es2020": true
  },
  "plugins": [
    "react-refresh"
  ],
  "extends": [
    "../.eslintrc",
    "plugin:react-hooks/recommended"
  ],
  "ignorePatterns": ["dist"],
  "rules": {
    "react-refresh/only-export-components": [
      "warn", {
        "allowConstantExport": true,
        "allowExportNames": ["meta", "links", "headers", "loader", "action", "badgeVariants"]
      }
    ]
  }
}
