{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "ignorePatterns": [".eslintrc", "node_modules"],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-namespace": [
      "error", {
        "allowDeclarations": true
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      "warn", {
        "args": "after-used",
        "argsIgnorePattern": "^_",
        "destructuredArrayIgnorePattern": "^_"
      }
    ]
  }
}
