{
  "printWidth": 140,
  "tabWidth": 4,
  "singleQuote": false,
  "arrowParens": "always",
  "trailingComma": "all",
  "semi": true,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["<THIRD_PARTY_MODULES>", "@/types", "^[./]"],
  "importOrderSeparation": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderSortSpecifiers": true,
  "overrides": [
    {
      "files": ["*.{ts,js,json}"],
      "options": {
        "tabWidth": 2,
        "singleQuote": true,
        "arrowParens": "always"
      }
    }
  ]
}
